 <!-- Right Panel -->
<div id="right-panel" class="right-panel">
     <!-- Header-->
     {navbar}
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Articles</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Articles</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                           <button class="btn btn-info btn-sm"  data-toggle="modal" data-target="#scrollmodal" onclick="clr()"><i class="fa fa-plus-circle"></i> Add</button>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Title</th>
                                        <th>Excerpt</th> 
                                    </tr>
                                </thead>
                                <tbody id="article-data">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel">Articles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                  Articles
                                </div>
                                <div class="card-body">

                        <input type="hidden" class="art" data-key="edit">

                        <div class="row form-group">
                             <div class="col col-md-3">
                                 <label for="text-input" class=" form-control-label">Title</label>
                            </div>
                             <div class="col-12 col-md-9">
                                 <input type="text" id="text-input" name="text-input" placeholder="Text" class="form-control art" data-key="Title"><small class="form-text text-muted"> </small>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Content</label>
                           </div>
                            <div class="col-12 col-md-9">
                               <textarea name="" id="" class="form-control art" rows="10" data-key="Content"></textarea>
                           </div>
                       </div>

                       <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Banner Image</label>
                       </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="text-input" name="text-input"  class="form-control-file art" accept=".jpg,.jpeg,.png" data-key="img"><small class="form-text text-muted"> </small>
                       </div>
                   </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary cek" onclick="save()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        function clr()
        {
            let art = document.querySelectorAll(".art")
            art.forEach((e,k,p)=>{
                e.value = ""
            })
        }

        async function save()
        {
            let btn = document.querySelector(".cek")
            btn.setAttribute("disabled",true)
            btn.innerHTML = "saving..."
            let art = document.querySelectorAll(".art")
            let edit = ""
            let fd = new FormData
            art.forEach((e,k,p)=>{
                if(e.dataset.key == "edit"){
                    edit = e.value
                } else if(e.dataset.key == "img" && e.files.length > 0){
                    fd.append("BannerImage",e.files[0])
                } else if(e.dataset.key != "img" && e.dataset.key != "edit") {
                    fd.append(e.dataset.key,e.value)
                }
            })
            let url = edit == "" ? "{url}api/admin/article_add" : "{url}api/admin/article_update?id=" + edit
            let q = await fetch(url,{
                method: "POST",
                body: fd
            })
            let r = await q.json()
            if(q.ok){
              location.reload()
            } else {
                alert(r.message)
            }
        }




        async function load_data()
        {
            let finder = find_status ? "?find=" + find_term : ""
            let q = await fetch("{url}api/article/list" + finder)
            let r = await q.json()
            if(q.ok){
                let j = ""
                r.data.forEach((e,k,p)=>{
                    j += "<tr>"
                    j += "<td><button class='btn btn-sm btn-danger' onclick='del(this.id)' id='d-" + e.Id + "'><i class='fa fa-trash-o'></i></button>&nbsp;<button class='btn btn-sm btn-info' onclick='edit(this.id)' data-target='#scrollmodal' data-toggle='modal'  id='e-" + e.Id + "'><i class='fa fa-pencil'></i></button></td>"
                    j += "<td>" + e.Title + "</td>"
                    j += "<td>" + e.Excerpt + "</td>"
                    j += "</tr>"
                })
                document.querySelector("#article-data").innerHTML = j
            }
        }
        load_data()

        async function edit(id)
        {
            clr()
            let ids = id.split("-")
            let q = await fetch("{url}api/admin/article_edit?id=" + ids[1])
            let r = await q.json()
            if(q.ok){
                let art = document.querySelectorAll(".art")
                art[0].value = ids[1]
                art[1].value = r.data[0].Title
                art[2].value = r.data[0].Content
            }
        }

        async function del(id)
        {
            
            let ids = id.split("-")
            let ask = confirm("Are you sure?")
            if(ask){
                let q = await fetch("{url}api/admin/article_delete?id=" + ids[1]) 
            if(q.ok){
                alert("article successfully deleted")
                location.reload()
            }
            }
           
        }
    </script>

</div>
 <!-- Right Panel -->