 <!-- Right Panel -->
 <div id="right-panel" class="right-panel">
    <!-- Header-->
   {navbar}
   <!-- Header-->

   <div class="breadcrumbs">
       <div class="col-sm-4">
           <div class="page-header float-left">
               <div class="page-title">
                   <h1>Alt Shue Gift Redeem</h1>
               </div>
           </div>
       </div>
       <div class="col-sm-8">
           <div class="page-header float-right">
               <div class="page-title">
                   <ol class="breadcrumb text-right">
                       <li class="active">Alt Shue Gift Redeem</li>
                   </ol>
               </div>
           </div>
       </div>
   </div>

   <div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                       <button class="btn btn-info btn-sm"  data-toggle="modal" data-target="#scrollmodal" onclick="clr()"><i class="fa fa-plus-circle"></i> Add</button>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Gift Name</th> 
                                    <th>Member Name</th> 
                                </tr>
                            </thead>
                            <tbody id="gift-data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->
<script>
    async function load_data()
    {
        let q = await fetch("{url}api/gift_redeem_list")
        let r = await q.json()
        if(q.ok){
            let res = ''
            r.data.forEach((e,k,p)=>{
                let btn = e.RedeemStatus == "0" ? "<button class='btn btn-sm btn-info' id='p-"+ e.Id +"' onclick='proses(" + e.Id + ")'>Proses</button>" : "<span class='badge badge-success'>Selesai</span>"
                res += '<tr><td>'+ btn +'</td><td>' + e.Name + '</td><td>' + e.Fullname + '</td></tr>' 
            })
            document.querySelector("#gift-data").innerHTML = res
        }
    }
    load_data()
    async function proses(id)
    {
        let btn = document.querySelector("#p-" + id)
        btn.innerHTML = "memproses..."
        btn.setAttribute("disabled",true)
        fd = new FormData
        fd.append("RedeemStatus","1")
        let q = await fetch("{url}api/admin_gift_redeem_update?id=" + id,{
            method: "POST",
            body: fd
        })
        if(q.ok){
            location.reload()
        }
    }
</script>