 <!-- Right Panel -->
 <div id="right-panel" class="right-panel">
    <!-- Header-->
   {navbar}
   <!-- Header-->

   <div class="breadcrumbs">
       <div class="col-sm-4">
           <div class="page-header float-left">
               <div class="page-title">
                   <h1>About</h1>
               </div>
           </div>
       </div>
       <div class="col-sm-8">
           <div class="page-header float-right">
               <div class="page-title">
                   <ol class="breadcrumb text-right">
                       <li class="active">About</li>
                   </ol>
               </div>
           </div>
       </div>
   </div>

   <div class="content mt-3">
       <div class="animated fadeIn">
           <div class="row">

               <div class="col-md-12">
                   <div class="card">
                       <div class="card-header">
                          <button class="btn btn-info btn-sm" id="save" onclick="save()"><i class="fa fa-save"></i> Save</button>
                       </div>
                       <div class="card-body">
                           
                            <div class="form-group col-lg-12">
                                <label for="">Facebook</label>
                                <input type="text" class="socmed form-control" data-key="fb">
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="">Twitter</label>
                                <input type="text" class="socmed form-control" data-key="tw">
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="">Instagram</label>
                                <input type="text" class="socmed form-control" data-key="ig">
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="">YouTube</label>
                                <input type="text" class="socmed form-control" data-key="yt">
                            </div>

                       </div>
                   </div>
               </div>


           </div>
       </div><!-- .animated -->
   </div><!-- .content -->

  

   <script>


       async function load()
       {
           let q = await fetch("{url}api/admin/socmed_load")
           let r = await q.json()
           let s = document.querySelectorAll(".socmed")
           if(q.ok){
              s.forEach((e)=>{
                  e.value = r.data[0][e.dataset.key]
              })
           }
       }

       load()

      async function save()
      {
           let fd = new FormData
           let s = document.querySelectorAll(".socmed")
           s.forEach((e)=>{
               fd.append(e.dataset.key,e.value)
           })
           let q = await fetch("{url}api/admin/socmed_save?id=1",{
               method: "POST",
               body: fd
           })
           let btn = document.querySelector("#save")
           btn.innerHTML = "saving..."
           btn.setAttribute("disabled",true)
           if(q.ok){
               btn.innerHTML = "<i class='fa fa-save'></i> Save"
               btn.removeAttribute("disabled")
           }
      } 

      
   </script>

</div>
<!-- Right Panel -->